@model CalculatorIT.Models.AddViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Num1, "Number 1: ")
            </td>
            <td>
                @Html.TextBoxFor(m => m.Num1)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Num2, "Number 2: ")
            </td>
            <td>
                @Html.TextBoxFor(m => m.Num2)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Sum, "Total: ")</td>
            <td>@Html.Label(Model.Sum.ToString())</td>
        </tr>
    </table>
    <input type="submit" value="Add them" />
}